*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.none {
    display: none !important;
}
.flex {
    display: flex !important;
}
.rd-element-justify-center {
    justify-content: center;
}
.rd-element-align-center {
    align-items: center;
}
.rd-element-align-self {
    align-self: center;
}
.rd-element-justify-flex-end {
    justify-content: flex-end;
}
.rd-container,
.rd-container-col,
.rd-container-row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.rd-container.full {
    max-width: 100%;
}
.rd-container-col,
.rd-element-col
{
    flex-direction: column;
}
.rd-container-row,
.rd-element-row{
    flex-direction: row;
}
.rd-element {
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.rd-container-row.no-padding > .rd-element,
.rd-container.no-padding > .rd-element,
.rd-container-col.no-padding > .rd-element
{
    padding: 0;
}
.center {
    margin: auto;
}
.rd-element:before,
.rd-element:after{
    box-sizing: border-box;
}

.rd-s-10{
    width: 10%;
}
.rd-s-15{
    width: 15%;
}
.rd-s-20{
    width: 20%;
}
.rd-s-25{
    width: 25%;
}
.rd-s-30{
    width: 30%;
}
.rd-s-35{
    width: 35%;
}
.rd-s-40{
    width: 40%;
}
.rd-s-50{
    width: 50%;
}
.rd-s-60{
    width: 60%;
}
.rd-s-70{
    width: 70%;
}
.rd-s-80{
    width: 80%;
}
.rd-s-90{
    width: 90%;
}
.rd-s-100{
    width: 100%;
}
.rd-s-1-3
{
    width: 33.33333%;
}
.rd-s-2-3{
    width: 66.66667%;
}
.rd-s-3-3{
    width: 100%;
}
/** Viewports */
@media screen and (min-width: 640px) {
    .rd-m-10{
        width: 10%;
    }
    .rd-m-15{
        width: 15%;
    }
    .rd-m-20 {
        width: 20%;
    }
    .rd-m-25 {
        width: 25%;
    }
    .rd-m-30{
        width: 30%;
    }
    .rd-m-35{
        width: 35%;
    }
    .rd-m-40{
        width: 40%;
    }
    .rd-m-50{
        width: 50%;
    }
    .rd-m-60{
        width: 60%;
    }
    .rd-m-70{
        width: 70%;
    }
    .rd-m-80{
        width: 80%;
    }
    .rd-m-90{
        width: 90%;
    }
    .rd-m-100{
        width: 100%;
    }
    .rd-m-1-3 {
        width: 33.33333%;
    }
    .rd-m-2-3{
        width: 66.66667%;
    }
    .rd-m-3-3{
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .rd-l-10{
        width: 10%;
    }
    .rd-l-15{
        width: 15%;
    }
    .rd-l-20 {
        width: 20%;
    }
    .rd-l-25 {
        width: 25%;
    }
    .rd-l-30{
        width: 30%;
    }
    .rd-l-35{
        width: 35%;
    }
    .rd-l-40{
        width: 40%;
    }
    .rd-l-50{
        width: 50%;
    }
    .rd-l-60{
        width: 60%;
    }
    .rd-l-70 {
        width: 70%;
    }
    .rd-l-80{
        width: 80%;
    }
    .rd-l-90{
        width: 90%;
    }
    .rd-l-100{
        width: 100%;
    }
    .rd-l-1-3
    {
        width: 33.33333%;
    }
    .rd-l-2-3{
        width: 66.66667%;
    }
    .rd-l-3-3{
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .rd-lg-10{
        width: 10%;
    }
    .rd-lg-15{
        width: 15%;
    }
    .rd-lg-20 {
        width: 20%;
    }
    .rd-lg-25 {
        width: 25%;
    }
    .rd-lg-30{
        width: 30%;
    }
    .rd-lg-35{
        width: 35%;
    }
    .rd-lg-40{
        width: 40%;
    }
    .rd-lg-50{
        width: 50%;
    }
    .rd-lg-70 {
        width: 70%;
    }
    .rd-lg-60{
        width: 60%;
    }
    .rd-lg-80{
        width: 80%;
    }
    .rd-lg-90{
        width: 90%;
    }
    .rd-lg-100{
        width: 100%;
    }
    .rd-lg-1-3
    {
        width: 33.33333%;
    }
    .rd-lg-2-3{
        width: 66.66667%;
    }
    .rd-lg-3-3{
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .rd-xl-10{
        width: 10%;
    }
    .rd-xl-15{
        width: 15%;
    }
    .rd-xl-20 {
        width: 20%;
    }
    .rd-xl-25 {
        width: 25%;
    }
    .rd-xl-30{
        width: 30%;
    }
    .rd-xl-35{
        width: 35%;
    }
    .rd-xl-40{
        width: 40%;
    }
    .rd-xl-50{
        width: 50%;
    }
    .rd-xl-60{
        width: 60%;
    }
    .rd-xl-70 {
        width: 70%;
    }
    .rd-xl-80{
        width: 80%;
    }
    .rd-xl-90{
        width: 90%;
    }
    .rd-xl-100{
        width: 100%;
    }
    .rd-xl-1-3
    {
        width: 33.33333%;
    }
    .rd-xl-2-3{
        width: 66.66667%;
    }
    .rd-xl-3-3{
        width: 100%;
    }
}

.from-s {
    display: none;
}

.to-s {
    display: none;
}

@media screen and (max-width: 639px) {
    .from-m {
        display: none !important;
    }
}

@media screen and (min-width: 640px) {
    .to-m {
        display: none !important;
    }
}

@media screen and (max-width: 1023px) {
    .from-l {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .to-l {
        display: none;
    }
}

@media screen and (max-width: 1023px) {
    .from-lg {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .to-lg {
        display: none;
    }
}

@media screen and (max-width: 1439px) {
    .from-xl {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .to-xl {
        display: none;
    }
}
.rd-video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.rd-video > iframe,
.rd-video > video,
.rd-video > .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.p-relative {
    position: relative;
}
.t-center {
    text-align: center;
}
.t-right {
    text-align: right;
}
.t-justify {
    text-align: justify;
}
.auto {
    margin: auto;
}
