.container-modal {
    width: 100vw;
    height: 100vh;
    background-color: #3366cce6;
    position: fixed;
    top: 0;
    left: -100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all 0.8s;
    opacity: 0;
}

.container-all-modal-content {
    width: 80vw;
    max-width: 1200px;
    height: 80vh;
    max-height: 800px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.container-all-modal-content .close-modal {
    position: absolute;
    right: 20px;
    top: 20px;
}
.container-all-modal-content .nav {
    display: flex;
    height: 70px;
    width: 70px;
    padding: 15px;
    background-color: var(--color-red);
    position: absolute;
}
.container-all-modal-content .nav.prev {
    left: -70px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.container-all-modal-content .nav.next {
    right: -70px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.container-modal-content {
    overflow: auto;
}

.open-l {
    opacity: 1;
    left: 0;
}
.open-r {
    opacity: 1;
    left: 0;
}
.close-r {
    opacity: 0;
    left: 200vw;
}
.close-l {
    opacity: 0;
    left: -100vw;
}
