.answer-ranger {
}

.bar-range {
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
    padding: 0;
}
.bar-range li {
    flex: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 3px #21212159, 0px 2px 1px #ffffff47 inset;
}
.bar-range li a {
    padding: 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}
.bar-range li a.izq {
    background-image: url("../images/icon-arrow-circu-izqui.png");
}
.bar-range li a.cent {
    background-position: 35%, 65%;
}
.bar-range li a.der {
    background-image: url("../images/icon-arrow-circu-dere.png");
}
.bar-range li a:hover,
.bar-range li a.active{
    background-color: var(--color-blue-ligth);
}

.bar-range li a.izq.active,
.bar-range li a.izq:hover{
    background-image: url("../images/f-h-i.png");
}
.bar-range li a.cent.active,
.bar-range li a.cent:hover{
    background-image: url("../images/icon-arrow-izqui.png"), url("../images/icon-arrow-dere.png");
}
.bar-range li a.der.active,
.bar-range li a.der:hover{
    background-image: url("../images/f-h-d.png");
}

.bar-range li a .bar {
    display: inline-block;
    width: 4px;
    height: 40px;
    background-color: var(--color-blue-bold);
    margin: 0 2em;
}
.text-range {
    padding: 1em 0;
}
.text-range span {
    color: var(--color-blue-ligth);
    font-size: 1.2em;
}
