@import "normalize.css";
@import "grid.css";
@import "colors.css";
@import "fonts.css";
* {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.5em;
    font-size: 14px;
}
header {
    background: rgb(190,12,77);
    height: 300px;
    background: url("../images/img-encabezado.png") no-repeat right top,
    linear-gradient(90deg, rgba(190,12,77,1) 16.3%, rgba(230,239,253,1) 13%);
}
footer {
    padding: 2em 0;
}
ul {
    list-style: none;
}

/*
    personalized
*/
#navs {
    min-height: 170px;
    position: relative;
}
h1.title {
    margin-top: .5em;
    margin-bottom: .5em;
    font-size: 2.3em;
    line-height: 1.2em;
}
h2.title-300-2em {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: 300;
    font-size: 2em;
}

ul.no-padding {
    padding: 0;
}
ul.vinetas {
    margin: 0;
    margin-bottom: 1em;
    list-style: none;
}
ul.vinetas li{
    background: url(../images/vineta.png) no-repeat 0 10px;
    background-size: 8px;
    padding-left: 1em;
}
.line-height-1em{
    line-height: 1em;
}
.line-height-1-5em {
    line-height: 1.5em;
}
.font-400 {
    font-weight: 400;
}
.font-size-1-2em{
    font-size: 1.2em;
}
.font-size-1-1em{
    font-size: 1.1em;
}
.font-size-2em {
    font-size: 2em;
}
.margin-top-2-5em {
    margin-top: 2.5em;
}
.container-question {
    margin-top: 200px;
}
.redes-img img {
    margin: 5px;
}
.p-v-2em {
    padding: 2em 0;
}
.p-1em {
    padding: 1em;
}
.text-uppercase {
    text-transform: uppercase;
}
/*
components
 */
 .container-all-section-nav {
     position: absolute;
     top: 50%;
     display: flex;
     margin: auto;
     left: 0;
     right: 0;
 }
 .container-all-section-nav a {
     text-decoration: none;
 }
 .container-all-section-nav .container-section-nav {
     background-color: var(--color-red);
     border-radius: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     box-sizing: content-box;
     padding: 1em 0;
     box-shadow: 0px 19px 10px #29292966;
     cursor: pointer;
 }
 .container-all-section-nav .container-section-nav.active,
 .container-all-section-nav .container-section-nav:hover{
     background-color: var(--color-blue-ligth);
 }
 .container-section-nav .section-number {
     width: 100px;
     height: 100px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     color: var(--color-blue-ligth);
     box-shadow: 3px 0px 8px #820a358f, -3px 0px 8px #bdb4b7ad;
 }
 .container-section-nav .section-number h4{
     font-size: 4em;
 }
.container-section-nav.active .section-number,
.container-section-nav:hover .section-number{
    box-shadow: 3px 0px 8px rgba(255, 255, 255, 0.56), -3px 0px 8px #bdb4b7ad inset;
    color: var(--color-blue-bold);
}
.container-section-nav .section-text {
    text-align: center;
    font-weight: 700;
    color: var(--color-blue-ligth);
}
.container-section-nav .section-text p {
    font-size: 1.5em;
}
.container-section-nav.active .section-text,
.container-section-nav:hover .section-text{
    color: var(--color-blue-bold);
}
.container-all-section-evidences .container-evidence {
    border-top: 20px solid var(--color-red);
    background-color: var(--color-blue-bold);
    min-height: 277px;
    box-sizing: content-box;
    padding: .5em 1em;
    color: var(--color-blue-ligth);
    line-height: 1.5em;
    position: relative;
}
.container-all-section-evidences .container-evidence:after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 80%;
    height: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0px 10px 10px #636b6f;
}
.container-frequent-question {
    background-color: var(--color-blue-ligth);
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue-bold);
    text-align: center;
    margin-bottom: 2rem;
    box-sizing: border-box;
    padding: 0 1em;
    font-size: 1em;
    line-height: 10px;
    cursor: pointer;
}
.container-frequent-question p,
.container-frequent-question b
{
    font-size: 1.2em;
    line-height: 22px;
}
.container-text{
    width: 100%;
    padding: .5em 1em;
    border: 1px solid var(--color-black);
    line-height: 1.5em;
    min-height: 90px;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.container-twitter {
    background-color: var(--color-blue-ligth);
    border-radius: 20px;
    box-shadow: 0px 0px 5px #2929294d;
    line-height: 1.5em;
    padding: 1.5em;
    margin-bottom: 1em;
}
.container-twitter.fact {
    min-height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
}
.container-twitter.fact label {
    display: flex;
    margin: 10px 0;
    align-items: center;
    padding: 6px;
}
.container-twitter.fact input[type='radio'] {
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid white;
    margin-right: 20px;
}
.container-twitter.fact input[type='radio']:checked {
    background-color: var(--color-red);
}
.container-twitter.fact.response {
    background-color: var(--color-blue-bold);
    display: flex;
    color: var(--color-blue-ligth);
    min-height: 320px;
}
.container-twitter.fact.response img {
    max-width: 150px;
    margin-bottom: 1em;
}
.fact-sure a {
    color: var(--color-blue-ligth);
}
.fact-no b, .fact-yes b{
    color: burlywood;
}
.container-text.message {
    min-height: 147px;
}
